<%- include("partials/header"); -%>

  <h1><%=title%></h1>
  <p><%=content%></p>

  <hr>
  <div style="text-align: center;margin-top: 10%;margin-bottom: 2%;">

    <a href="/"><i class="fas fa-solid fa-house-user" style="font-size:50px;margin-right: 50px;"></i></a>
    <a href="/contact"><i class="fas fa-phone" style="font-size:50px;margin-right: 50px;"></i></a>
    <a href="/about"><i class="fas fa-regular fa-address-card fa-2xl" style="font-size:50px;margin-right: 50px;"></i></a>
    
    <a href="/compose"><i class="fas fa-solid fa-pen-nib"style="font-size:50px;"></i></a>
</div>

<%- include("partials/footer"); -%>
